@font-face {
    font-family: 'blank-space';
    src: url(./KGBlankSpaceSolid.ttf);
}

:root {
    --yellow: #EDF060;
    --purple: #b540a0;
    --gold: #a0b540;
    --Light-turquoise: #40A0B5;
    --light-black: #171219;
    --orange: #F0803C;
    --violet: #310D20;
    --border-radius: 10px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --spacing-xxl: 60px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'blank-space','Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xl);
    background: var(--Light-turquoise);
}

/* Game board */
#gameBoardContainer {
    margin-top: var(--spacing-xl);
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    width: 400px;
    height: 400px;
    background: rgb(255, 247, 247);
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.8);
}

.boardSquare {
    border: 1px solid var(--light-black);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}


/* Peripherals */ 
#turnIndicator {
    display: flex;
    gap: var(--spacing-lg);
    margin-top: var(--spacing-xxl);
}

.player1,
.player2 {
    border: 3px var(--light-black) solid;
    padding: var(--spacing-lg) 35px;
    border-radius: var(--border-radius);
    background: var(--violet);
}

.player1Background {
    background: var(--purple);
}

.player2Background {
    background: var(--gold);
}

#textDisplay {
    margin-top: var(--spacing-lg);
    font-size: 25px;
}

#boardClearBtn {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    background: var(--orange);
}


/* Element states */
.active {
    border: 3px var(--yellow) solid;
}

.clicked {
    transform: scale(1.1);
    border: 3px solid var(--yellow);
    box-shadow: 0px 0px 10px var(--yellow);
}

.unClickable {
    pointer-events: none;
}

